.upperPanel {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	padding: 15px 0;

	&__gameName {
		height: 110px;
		text-align: center;

		h1 {
			display: flex;
			letter-spacing: 2px;
			margin: 0;
			font-size: 60px;
			line-height: 60px;

			span {
				font-family: cursive;

				&:nth-child(1) {
					color: #E6BF3D;
				}

				&:nth-child(2) {
					color: #CFC7BE;
				}

				&:nth-child(3) {
					color: #F59662;
				}

				&:nth-child(4) {
					color: #F65E3C;
				}
			}
		}

		h2 {
			font-size: 48px;
			line-height: 48px;
			font-family: Helvetica;
			color: #d3663c;
			text-shadow: 1px 1px 3px #2e2e11;
		}
	}

	&__wraper {
		height: 110px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__buttons {
		display: flex;
		gap: 15px;
	}

	&__newGame,
	&__undo {
		padding: 5px 15px;
		font-size: 20px;
		background: #8F7A66;
		color: #ffebd1;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		outline: none;

		&:hover {
			transform: scale(1.05);
			background: #97826e;
		}

		&:active {
			transform: scale(1);
			background: #8b7663;
		}
	}

	&__score {
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #a59e97;
		border-radius: 5px;
		padding: 5px 15px;


		h2 {
			font-size: 15px;
			color: #eee4da;
			margin-bottom: 5px;
		}

		p {
			font-size: 28px;
			line-height: 28px;
			color: snow;
			font-weight: bolder;
		}
	}
}