@import '~normalize.css';
// @import './fonts';

* {
	font-family: '', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: Bisque;
	padding: 15px;
}

.container {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

canvas {
	background: #BBADA0;
	border-radius: 7px;
}

// Base
// @import "./base/animations";
// @import "./base/variables";
// @import "./base/mixins";

// blocks
@import "./blocks/upperPanel/upperPanel.scss";

// Media
// @import "./blocks/";